#red {
  border-top: 50px solid #f00;
}

#orange {
  border-top: 50px solid #ffa500;
}

#yellow {
  border-top: 50px solid #ff0;
}

#green {
  border-top: 50px solid #00bc3f;
}

#blue {
  border-top: 50px solid #06f;
}

#indigo {
  border-top: 50px solid #8a2be2;
}

#violet {
  border-top: 50px solid #d300c9;
}
